Source: openwalnut
Section: science
Priority: optional
Maintainer: Sebastian Eichelbaum <eichelbaum@informatik.uni-leipzig.de>
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.8.0), libgl1-mesa-dev (>= 7.7.0), libopenscenegraph-dev (>= 2.8.1), libopenthreads-dev (>= 2.8.1), libqt4-dev (>= 4:4.6.0), libqtwebkit-dev (>= 2.0.0), zlib1g-dev (>= 1:1.2.3.4.dfsg), libboost-dev (>= 1.42.0), libboost-program-options-dev (>= 1.42.0), libboost-thread-dev (>= 1.42.0), libboost-filesystem-dev (>= 1.42.0), libboost-date-time-dev (>= 1.42.0), libboost-system-dev (>= 1.42.0), libboost-signals-dev (>= 1.42.0), libboost-regex-dev (>= 1.42.0), libeigen3-dev (>= 3.0.0), libbiosig-dev (>= 0.85.0), libnifti-dev (>= 2.0.0)
Standards-Version: 3.9.2
Homepage: http://www.openwalnut.org

Package: openwalnut
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multi-modal medical and brain data visualization tool.
 OpenWalnut is an open source tool for multi-modal medical and brain data
 visualization. Its universality allows it to be easily extended and used in a
 large variety of application cases. It is both, a tool for the scientific user
 and a powerful framework for the visualization researcher.  OpenWalnut is
 licensed under the terms of the GNU Lesser General Public License. Written
 entirely in Standard C++ and using a number of portable libraries (e.g.
 OpenSceneGraph and  Qt), it runs on all Windows platforms, OSX, and
 GNU/Linux operating systems.

