#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_build:
	# Invoke standard build mechanism.
	#dh_auto_build
	
	# Enable this if you have a multi-core machine. Compiles faster (of course costs more CPU)
	dh_auto_build -- -j10

override_dh_auto_configure:
	# We turn of several build options here to reduce dependencies. Later, several modules are moved to an extra package which then uses cuda/opencl and stuff.
	dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release \
							-DOW_USE_CUDA=OFF\
							-DOW_USE_OPENCL=OFF\
							-DOW_USE_TESTS=OFF\
							-DOW_PACKAGE_BUILD=ON\
								-DOW_PACKAGE_NOCOPY_LICENSE=ON\
								-DOW_PACKAGE_NOLINK_OPENTHREADS=ON\	
	# Also specify these options if you do not want to build all the modules. Useful for debugging the debian package
	#						-DOW_MODULE_TOOLBOX_BASE=OFF -DOW_MODULE_TOOLBOX_EEG=OFF -DOW_MODULE_TOOLBOX_OTHERS=OFF -DOW_MODULE_TOOLBOX_IO=OFF -DOW_MODULE_TOOLBOX_IMAGEPROCESSING=OFF

%:
	# Ensure that dh finds our source and detects that this is made with cmake
	dh $@ --sourcedirectory=src --builddirectory=build

