[Desktop Entry]
Categories=Science;
Exec=/usr/bin/openwalnut
Name=OpenWalnut
Icon=openwalnut.png
X-KDE-StartupNotify=true
Terminal=true
Type=Application

