[Desktop Entry]
Categories=Education;Science;
Exec=/usr/bin/openwalnut
Name=OpenWalnut
Icon=openwalnut.png
X-KDE-StartupNotify=true
Terminal=false
Type=Application

